@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: hsl(220, 16%, 96%);
}

.services {
  text-align: center;
  padding: 20px 0;
}

.services h1 {
  font-size: 35px;
  font-weight: 700;
  color: #DD6316;
  text-decoration: underline;
}

.services-grid {
  padding: 20px 50px;
  text-align: start;
}

.card-service {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px rgb(228, 227, 227);
  margin: 40px 0;
}

.card-service h3 {
  color: hsl(233, 26%, 24%);
}

.card-service p {
  color: hsl(233, 8%, 62%);
  font-weight: 600;
}

.card-service small {
  font-size: 15px;
  color: hsl(233, 26%, 24%);
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .services-grid {
    padding: 50px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-service {
    margin: 30px;
  }
}